@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #bdc3c7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.head1 > nav > ul{
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: auto;
}

.head1{
    padding: 30px 0;
    background-color:#8c7ae6;;
}

.head1 nav > ul > li{
    margin: auto;
}

.head1 a{
    color: white;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 18px;
    font-weight:bold;
    padding: 30px 70px;
}

.head1 nav > ul > li a:hover{
    background-color: #7c6bd1;
}

/* header */

.fc{
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
    background-color: #909ead;
    color: rgb(255, 255, 255);
}

/* footer */

main header h2{
    font-size: 35px;
    margin: 30px 0;
}

main header p{
    margin-bottom: 30px;
    font-size: 20px;
}

main header button{
    margin-bottom: 30px;
    border: none;
    padding: 15px 25px;
    font-size: 17px;
    background-color:#129299;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: rgb(255, 255, 255);

}